:root {
    --font-size-body-larger: 14px;
    --font-size-body-big: 16px;
    --font-size-body-huge: 18px;

    --font-family-all-content: 'PT Sans';
    --font-family-headings: 'PT Serif';

    --layout-main-width: 60em;
}