body{
    font-family: "Montserrat";
    color: blue;

}

#product-overview {
    background: #ff1b68;
}

/* #plans{
    background: black;
}   */

.section-title {
    background: burlywood;
    color: greenyellow;
}
#product-overview h1 {
    font-family: serif;
    color: rebeccapurple;
}
h1 {
    color: azure;
    font-family: "Anton";
}   

