
body {
    font-family: "Montserrat";
    border: none;
}

#product-overview {}

/* #plans{
    background: black;
}   */

.section-title {
    color: lightgreen;    
    text-align: center;
    width: 100%;
}

#product-overview h1 {
    font-family: serif;
    color: white;
    /* background:  */
    background-image: url("freedom.jpg");
    background-size: cover;
    background-position: left 10% bottom 20%;
    background-repeat: no-repeat;
    background-origin: 
    width: 100%;
    height: 550px;
    text-align: initial;
    box-sizing: border-box;

}

h1 {
    color: darkgreen;
    font-family: "Anton";
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan{
    background: lightgreen;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan--highlighted{
    background: rgba(22, 87, 22,0.5);
    color: white;
    box-shadow: 2px 2px 2px 1px black;
}
.plan--highlighted h1 {    
    color: rgb(20, 190, 20);
}
.plan__annotation {
    background: lightgreen;
    color: darkgreen;
    padding: 8px;    
    box-shadow: 2px 2px 2px 1px black;
    border-radius: 8px;
}
.plan__title {
    color: darkgreen;
}
.plan__price {
    color: rgb(163, 161, 161);
}

.plan--highlighted .plan__price {
    color: darkgreen;
}
.plan--highlighted .title {
    color: white;
}

.plan__futures {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__future {
    margin: 10px 0;
}

#key-features {
    background: red;
}

#key-features .section-title {
    color: white;
    margin: 32px;
    margin-top: 80px;
    padding: 16px;
}
.features__overall {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.feature {
    display: inline-block;
    width: 30%;
    font-family: "Anton";
    vertical-align: top;
}
.feature_description {
    text-align: center;
    font-weight: bold;
    font-size: 20px;    
    color: white;
}

.key-feature-image {
    background: #ffcede;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    height: 128px;
    margin:0 auto;
}



