* {
    box-sizing: border-box;
}
html{
    margin: 30px;
}
.main-header {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: darkgreen;
    font-family: "Anton";
    padding: 8px 6px;
    z-index: 1;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.brand {
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height:22px;
}
.brand img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 60px);
    vertical-align: middle;
}

.main-nav__items {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0 16px;
    list-style: none;

}

.main-nav__item {
    display: inline-block;

}

.main-nav__items a {
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__items a:hover,
.main-nav__items a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a{
    color: white;
    background: red;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: red;
    background: white;
    border: none;
}



.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: darkgreen;
    color: lightgreen;
    font: inherit;
    border: 1.5px solid darkgreen;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background: white;
    color: darkgreen;
    font: inherit solid white;
}
.button:active {
    background: white;
    color: darkgreen;
    font: inherit solid white;
}
.button:focus{
    outline: none;
}